body {
    background-color: hsl(30, 38%, 92%);
    text-align: center;
    font-size: 0.875rem;
    font-family: 'Montserrat';
    font-weight: 500;

}

.main-container {
    width: 36.875rem;
    height: 27.8125rem;
    background-color: hsl(0, 0%, 100%);
    margin: 6.25rem auto;
    border-radius: 0.9375rem;
    position: relative;

}
img {
    height: 27.8125rem;
    position: absolute;
    left: 0;
    border-top-left-radius:  0.9375rem;
    border-bottom-left-radius:  0.9375rem;
}
.text-container {
    width: 14.375rem;
    position: absolute;
    right: 2.0625rem;
    clear: right;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: left;
    color: hsl(212, 21%, 14%)
}

h3 {
    font-family: 'Montserrat';
    font-weight: 500;
}
h1 {
    width: 12.5rem;
    font-family: 'Fraunces';
    font-weight: 700;

}

.price {
    color: hsl(158, 36%, 37%);
    display: inline;
    font-family: 'Fraunces';
    font-weight: 700;
    position: absolute;
    right: 6.25rem;
    bottom: 6.25rem;
}
#price_cut {
    text-decoration-line: line-through;
    display: inline;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-left: 1.875rem;
    margin-bottom: 6.25rem;
    position: absolute;
    right: 3.75rem;
    bottom: 1.5625rem;
    color: hsl(212, 21%, 14%);

}
.button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 0.9375rem 4.375rem 0.9375rem 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8125rem;
  font-family: 'Fraunces';
  font-weight: 700;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  position: absolute;
  bottom: 3.125rem;
  right: 1.875rem;
  border-radius: 0.5rem;
}
.emoji {

    height: 0.9375rem;
    width: 0.9375rem;
    padding-left: 3.125rem;
}

